*.swp
.DS_Store
bin/configlet
bin/configlet.exe
ex.err
**/*.cmd
**/*.log
/exercises/practice/acronym/backup
/exercises/practice/anagram/backup
/exercises/practice/bob/backup
/exercises/practice/collatz-conjecture/backup
/exercises/practice/darts/backup
/exercises/practice/grains/backup
/exercises/practice/hamming/backup
/exercises/practice/hello-world/backup
/exercises/practice/isbn-verifier/backup
/exercises/practice/luhn/backup
/exercises/practice/pangram/backup
/exercises/practice/pythagorean-triplets/backup
/exercises/practice/raindrops/backup
/exercises/practice/roman-numerals/backup
/exercises/practice/sum-of-multiples/backup
/exercises/practice/triangle/backup
/exercises/practice/two-fer/backup
/exercises/practice/yacht/backup
