name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5

      - name: Setup OpenEuphoria
        run: .github/bin/setup-open-euphoria
        env:
          OPEN_EUPHORIA_VERSION: 4.1.0
          OPEN_EUPHORIA_SHA: 57179171dbed

      - name: Verify all exercises
        run: bin/verify-exercises
